<div id="createUserModal" class="modal fade">
  <div id="modal-main-1" class="modal-dialog">
    <div class="modal-content">
      <form id="create-user-form" class="well" method="post" action="{% url 'create_user' %}">
        {% csrf_token %}

        <div class="modal-header">
          <a type="button" class="close" data-dismiss="modal">×</a>
          <h3> Create Account </h3>
          <div id="message-div"></div>
        </div>
        <div class="modal-body">
          <input id="id_username" type="text" class="form-control full" name="username" placeholder="username"/><br>
          <input id="id_email" type="text" class="form-control full" name="email" placeholder="email"/><br>
          <input id="id_first_name" type="text" class="form-control half" name="first_name" placeholder="first name"/>
          <input id="id_last_name" type="text" class="form-control half" name="last_name" placeholder="last name"/><br><br><br>
          <input id="id_password1" type="password" class="form-control half" name="password1" placeholder="password"/>
          <input id="id_password2" type="password" class="form-control half" name="password2" placeholder="password, again"/><br>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" name="submit1" type="submit" value="Create" />
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>