<div id="loginModal" class="modal fade">
  <div id="modal-main" class="modal-dialog">
    <div class="modal-content">
      <form id="login-form" class="well" method="post" action=".">
        {% csrf_token %}

        <div class="modal-header">
          <a type="button" class="close" data-dismiss="modal">×</a>
          <h3> User Login </h3>
          <span id="login-errors" style="color:red;font-size:12px;line-height:12px;"></span>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" name="username" style="width:256px" placeholder="username"/><br>
          <input type="password" class="form-control" name="password" style="width:256px" placeholder="password"/>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" name="submit2" type="submit" value="Login" />
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
  </div>
</div>