<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Ambassador App</title>
	    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/reset.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
		<link href='http://fonts.googleapis.com/css?family=Lato|Mate+SC|Varela+Round' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'css/splash.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/product/modals.css' %}">
		<script type="text/javascript" src="{% static 'js/libs/animator.js' %}"></script>
	    <!--[if IE]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<body id="home">
		<div id="main-wrapper">
			<div id="header-behind">
				<div id="header-splash-outer">
					
					<div class="triangle-left-top header-slide-1"></div>

					<div id="header-splash" class="wrapper-outer header-slide-1">
						<div id="header-splash-inner" class="wrapper-inner">
							<a href="#">
								<strong class="logo">
									
								</strong>
								<span id="logo-text">Ambassador engineering challenge</span>
							</a>
							<div id="auth-block">
								<div class="tools-box">
									<ul>
										<li><a data-toggle="modal" href="#loginModal" id="login-link"> Login </a></li>
										<li><a data-toggle="modal" href="#createUserModal" id="create-link"> Sign Up </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div id="banner-splash">
				<div id="banner-splash-inner">
					<div id="banner-splash-left" class="content-slide-from-left">
						<div class="info-box">
							<h5> Design Specs </h5>
							<p> The specs for the engineering challenge are posted <a href="https://docs.google.com/document/d/1RbM86xFSPeO8p53HPedPHzFF3jDg_c8PvQl36tcDkIA/pub" target="blank">here</a>.  My take on the app contains all requirements for the challenge, plus a few extra ones I thought might add a nice touch:</p>
							<ul>
								<li> A user profile service for users to generate and sign in to their accounts </li>
								<li> Historical tracking for click generation </li>
								<li> Custom input fields on drip pages for background colors, banner images, informational column layout, and special text/image fields </li>
							</ul>
						</div>
						<div class="pic-block">
							<img id="img2" src="{% static 'img/screengrab2.png' %}" height="" width="200">
							<img id="img3" src="{% static 'img/screengrab3.png' %}" height="" width="400">
						</div>
					</div>
					<div id="banner-splash-right" class="content-slide-from-right">
						<div id="right-top">
							<div id="profile-pic-container">
								<img src="{% static 'img/mitch.png' %}" height="150" width="144">
							</div>
							<h4><strong>Mitch Kuchenberg</strong></h4>
							<p> <span>Bachelor of Science in Social Computing Informatics <br> December 2013, University of Michigan, Ann Arbor</span> </p>
							<ul>
								<li>Web developer</li>
								<li>Connosieur of righteous funkbeats</li>
								<li>Human garbage disposal</li>
							</ul>
						</div>
						<div id="right-bottom">
							<img id="img1" src="{% static 'img/screengrab1.png' %}" height="" width="400">
							<img id="img4" src="{% static 'img/screengrab4.png' %}" height="" width="400">
						</div>
					</div>
				</div>
			</div>

		{% include "splash/login_modal.html" %}
		{% include "splash/create_user_modal.html" %}

		<script type="text/javascript" src="{% static 'js/libs/jquery-1.10.2.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.dataTables.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript">
			
			$("#login-link").click(function() {
				$('#loginModal').modal('show')
			});

			$("#create-link").click(function() {
				$('#createUserModal').modal('show')
			});

			$(document).ready(function() {
				$("div.header-slide-1").animate({top:'0'}, 1200);
 				$("div.content-slide-from-left").animate({left:'0'}, 1200);
 				$("div.content-slide-from-right").animate({left:'0'}, 1200);
			});
		</script>
	</body>
</html>