<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Ambassador App</title>
	    {% load staticfiles %}
	    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/reset.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/splash/splash_base.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/splash/splash.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/product/modals.css' %}">

	    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
		<link href='http://fonts.googleapis.com/css?family=Lato|Mate+SC|Varela+Round' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="{% static 'js/libs/animator.js' %}"></script>
	    <!--[if IE]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<body id="home">
		<div id="main-wrapper">
			<div id="header-behind">
				<div id="header-splash-outer">
					
					<div class="triangle-left-top header-slide-1"></div>

					<div id="header-splash" class="wrapper-outer header-slide-1">
						<div id="header-splash-inner" class="wrapper-inner">
							<a href="#">
								<strong class="logo">
									
								</strong>
								<span id="logo-text">Ambassador engineering challenge</span>
							</a>
							<div id="auth-block">
								<div class="tools-box">
									<ul>
										<li><a data-toggle="modal" href="#loginModal" class="login-link"> Login </a></li>
										<li><a data-toggle="modal" href="#createUserModal" class="create-link"> Sign Up </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div id="banner-splash">
				<div id="banner-splash-inner">
					<div id="banner-splash-left">
						<div class="info-box">
							<h5> Design Specs </h5>
							<p> The specs for the engineering challenge are posted <a href="https://docs.google.com/document/d/1RbM86xFSPeO8p53HPedPHzFF3jDg_c8PvQl36tcDkIA/pub" target="blank">here</a>.  My take on the app contains all requirements for the challenge, plus a few extra ones I thought might add a nice touch:</p>
							<ul>
								<li> <p>A standard Django user profile service for users to <a data-toggle="modal" href="#createUserModal" class="create-link"> up </a> and <a data-toggle="modal" href="#loginModal" class="login-link"> Login </a> to their accounts</p> </li>
								<li> <p id="pic-left">The addition of "purchase" tracking, which allows the calculation of a click-thru rate by dividing the number of purchases by the number of clicks for a referral, as well as historical tracking for clicks/purchases using Highcharts.js.</p>
									<img id="img" src="{% static 'img/screengrab2.png' %}" height="" width="240">
								</li>
								<li> <p>Custom input fields on drip pages for background colors, banner images, informational column layout, and special text/image fields</p> </li>
							</ul>
						</div>
						<div class="pic-block">
							<img id="img" src="{% static 'img/screengrab3.png' %}" height="" width="383">
						</div>
					</div>
					<div id="banner-splash-right">
						<div id="right-top">
							<div id="profile-pic-container">
								<img src="{% static 'img/mitch.jpg' %}" height="150" width="144">
							</div>
							<h4><strong>Mitch Kuchenberg</strong></h4>
							<p> <span>B.S., Informatics - Social Computing, 2013<br>University of Michigan, Ann Arbor MI</span> </p>
							<ul>
								<li>Web developer</li>
								<li>Fitness enthusiast</li>
								<li>Music lover and guitarist</li>
							</ul>
						</div>
						<div id="right-bottom">
							<img id="img-top" src="{% static 'img/screengrab1.png' %}" height="" width="480">
							<img id="img-bottom" src="{% static 'img/screengrab4.png' %}" height="" width="480">
						</div>
					</div>
				</div>
			</div>

		{% include "splash/login_modal.html" %}
		{% include "splash/create_user_modal.html" %}

		<script type="text/javascript" src="{% static 'js/libs/jquery-1.10.2.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.dataTables.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("div.header-slide-1").animate({top:'0'}, 1200); // nav slide in
				$(".login-link").click(function() {
					$('#loginModal').modal('show')
				});

				$(".create-link").click(function() {
					$('#createUserModal').modal('show')
				});
				$("#create-user-form").submit(function(e){
					var datastring = $("#create-user-form").serialize();
					$.ajax({
			            type: "POST",
			            url: "/new-account/",
			            data: datastring,
			            dataType: "json",
			            success: function(data) {
			                //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
			                // do what ever you want with the server response
			                if (data['status'] == 'ok') {
			            		window.location.href = "/home/";
			                }
			                else {
			                	var errorStr = "<b>There was a problem with your submission!</b><br><ul>";
			                	for (var key in data['errors']) {
			                		var errorListStr = "";
			                		for (var item in data['errors'][key]) {
			                			errorListStr = errorListStr + data['errors'][key][item] + "  ";
			                		}

			                		if (key == 'password1' || key =='password2') {
			                			errorStr = errorStr + "<li>password: " + errorListStr + "</li>";
			                		}
			                		else if (key == '__all__') {
			                			errorStr = errorStr + "<li>password: Password fields didn't match.</li>"
			                		}
			                		else {
			                			errorStr = errorStr + "<li>" + key + ": " + errorListStr + "</li>";
			                		}
			                	}
			                	errorStr = errorStr + "</ul>";
			                	$("span#create-user-errors").html(errorStr);
			                }
			            },
			            error: function(){
			            	$("span#create-user-errors").html("There was an error!");
			            	return false;
			            }
			        });
			        return false;
				})

				$("#login-form").submit(function(e){
					var datastring = $("#login-form").serialize();
					$.ajax({
			            type: "POST",
			            url: "/login-auth/",
			            data: datastring,
			            dataType: "json",
			            success: function(data) {
			                //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
			                // do what ever you want with the server response
			                if (data['status'] == 'ok' && data['login'] == 'ok') {
			            		window.location.href = "/home/";
			                }
			                else {
			                	var errorStr = "There was a problem with your submission:<br><ul>";
			                	for (var key in data['errors']) {
			                		errorStr = errorStr + "<li>";
			                		if (key == "__all__") {
			                			errorStr = errorStr + data['errors'][key];
			                		}
			                		else if (key == "username" || key == "password") {
			                			errorStr = errorStr + "Please enter a valid " + key;
			                		}
			                		else {
			                			errorStr = errorStr + "<li>" + key + ":  " + data['errors'][key] + "</li>";
			                		}
			                		
			                		errorStr = errorStr + "</li>"
			                	}
			                	errorStr = errorStr + "</ul>";
			                	$("span#login-errors").html(errorStr);
			                }
			            },
			            error: function(){
			            	$("span#create-user-errors").html("There was an error!");
			            	return false;
			            }
			        });
			        return false;
				})
			});
		</script>
	</body>
</html>