<div id="chartModal" class="modal fade">
  <div id="modal-main" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal">×</a>
        <h3 style="text-align:center"> Click and Purchase History </h3>
      </div>
      <div class="modal-body">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>