{% extends "product/product_base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div style="margin: 30px">
		<a data-toggle="modal" href="#chartLink" res="13" class="col-1 chart-link">CLICK ME NIGGA</a>

		<table class="table datatable" id="all-links">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Purchases</th>
					<th>Submitted</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block modals %}
	{% include "product/chart_modal.html" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		

		$(document).ready(function() {
			$(document).on("click", ".chart-link", function(){
				$('#chartModal').modal('show') // show the modal
                    var search_r = $('a', this).attr('res'); // grab the pk of the referral we want
                    $.ajax({  // post it!
                         type: 'POST',
                         url: '{% url "chart_data" %}',
                         data: frm.serialize(),
                         crossDomain: false,
                         success: function (data) {
                              //$("#message-div").html(data);
                              console.log(data)
                         },
                         error: function(data) {
                              console.log(data)
                              //$("#message-div").html("Something went wrong!");
                         }
                    });
			});

			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { 
                    	"mRender": function ( data, type, row ) {
                    		return '<a data-toggle="modal" href="#chartLink" res="' + row[4] + '" class="col-1 chart-link">' + data +'</a>'
                    	},
                    	"sWidth": "160px",
                    	"aTargets": [0],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [1],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [2],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "48px",
                    	"aTargets": [3],
                    	"iDataSort": 5
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<a class="col-5-a" href="/edit/' + data + '/">edit</a> <a class="col-5-a" href="/delete/' + data + '/">delete</a> <a class="col-5-b" href="/landing/?link=' + row[0] + '" class="col-1">view</a>'
                    	},
                    	"sWidth": "120px",
                    	"aTargets": [4],
                    	"bSortable": false,
                    },
                    { "bVisible": false, "aTargets": [5]}
                ],
                "sAjaxSource": "/datatables/all-refs/?username={{ user.username }}",

			});

			
		});

		
	</script>
{% endblock %}
