{% extends "product/product_base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/product/home.css' %}">
{% endblock %}

{% block content %}
	<div style="margin: 30px">
		<table class="table datatable" id="all-links">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Purchases</th>
					<th>Submitted</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block modals %}
	{% include "product/chart_modal.html" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(document).ready(function() {
               // hicharts plotting function
			$(document).on("click", ".chart-link", function(){
				$('#chartModal').modal('show') // show the modal
                    var search_r = $(this).attr('res'); // grab the pk of the referral we want
                    var plotting = function plotData(clickData, purchaseData, clickThruData) {
                         $('#container').highcharts({
                              chart: {
                                   type: 'spline'
                              },
                              title: {
                                   text: 'Clicks/Purchases vs Time'
                              },
                              subtitle: {
                                   text: ''
                              },
                              xAxis: {
                                   type: 'datetime',
                                   dateTimeLabelFormats: { // don't display the dummy year
                                        month: '%e. %b',
                                        year: '%b'
                                   }
                              },
                              yAxis: {
                                   title: {
                                        text: 'Qty.'
                                   },
                                   min: 0
                              },
                              tooltip: {
                                   formatter: function() {
                                       return '<b>'+ this.series.name +'</b><br/>'+
                                       Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y;
                                   }
                              },
                           
                              series: [{
                                   name: 'Clicks',
                                   data: clickData
                              }, {
                                   name: 'Purchases',
                                   data: purchaseData
                              },
                              {
                                   name: 'Click Thru',
                                   data: clickThruData
                              }]
                         });
                    };

                    $.ajax({  // Get highcharts data for the referral
                         type: 'GET',
                         url: '/hicharts/chart-data/'+search_r+'/',
                         data: null,
                         crossDomain: false,
                         success: function (data) {
                              clickData = data['clicks'];
                              purchaseData = data['purchases'];
                              clickThruData = data['click-thrus'];
                              for (x in clickData) {
                                   clickData[x][0] = Date.UTC(clickData[x][0][0], clickData[x][0][1], clickData[x][0][2], clickData[x][0][3], clickData[x][0][4], clickData[x][0][5], clickData[x][0][6]);
                              }
                              for (x in purchaseData) {
                                   purchaseData[x][0] = Date.UTC(purchaseData[x][0][0], purchaseData[x][0][1], purchaseData[x][0][2], purchaseData[x][0][3], purchaseData[x][0][4], purchaseData[x][0][5], purchaseData[x][0][6]);
                              }
                              for (x in clickThruData) {
                                   clickThruData[x][0] = Date.UTC(clickThruData[x][0][0], clickThruData[x][0][1], clickThruData[x][0][2], clickThruData[x][0][3], clickThruData[x][0][4], clickThruData[x][0][5], clickThruData[x][0][6]);
                              }
                              clickData.sort();
                              purchaseData.sort();
                              clickThruData.sort();
                              plotting(clickData, purchaseData, clickThruData);
                              
                         },
                         error: function(data) {
                              console.log('Error, highcharts GET failed');
                         }
                    });
			});

			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { 
                    	"mRender": function ( data, type, row ) {
                              return '<a href="/landing-preview/?link=' + data + '" class="col-1" target="_blank">' + data + '</a>'
                    		//return '<a data-toggle="modal" href="#chartLink" res="' + row[4] + '" class="col-1 chart-link">' + data +'</a>'
                    	},
                    	"sWidth": "160px",
                    	"aTargets": [0],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [1],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [2],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "48px",
                    	"aTargets": [3],
                    	"iDataSort": 5
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<a class="col-5-a" href="/edit/' + data + '/">edit</a> <a class="col-5-a" href="/delete/' + data + '/">delete</a> <a data-toggle="modal" href="#chartLink" res="' + data + '" class="col-5-b chart-link">stats</a>'
                    	},
                    	"sWidth": "120px",
                    	"aTargets": [4],
                    	"bSortable": false,
                    },
                    { "bVisible": false, "aTargets": [5]}
                ],
                "sAjaxSource": "/datatables/all-refs/?username={{ user.username }}",

			});
		});
	</script>
{% endblock %}
