{% extends "product/product_base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div style="margin: 30px">
		<table class="table datatable" id="all-links">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Purchases</th>
					<th>Submitted</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript"?>
		$(document).ready(function() {
			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { 
                    	"mRender": function ( data, type, row ) {
                    		return '<a href="/landing/?link=' + data + '" class="col-1">' + data +'</a>'
                    	},
                    	"sWidth": "200px",
                    	"aTargets": [0],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [1],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [2],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "48px",
                    	"aTargets": [3],
                    	"iDataSort": 5
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<a class="col-5-a" href="/edit/' + data + '/">edit</a> <a class="col-5-b" href="/delete/' + data + '/">delete</a>'
                    	},
                    	"sWidth": "90px",
                    	"aTargets": [4],
                    	"bSortable": false,
                    },
                    { "bVisible": false, "aTargets": [5]}
                ],
                "sAjaxSource": "/datatables/all-refs/?username={{ user.username }}",

			});
		});
	</script>
{% endblock %}
