<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Ambassador App</title>
	    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/reset.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/splash.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/product/modals.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/product/referrals.css' %}">

		{% block stylesheets %}{% endblock %}
		<script type="text/javascript" src="{% static 'js/libs/animator.js' %}"></script>
	</head>

	<body id="home">
		{% if preview %}
			{% include "product/preview_toolbar.html" %}
		{% endif %}
		<div id="main-content">
			<div id="header-container">
				<div id="header-inner">
					<h1 style="font-family:{{ referral.font_family }}"> {{ referral.link_title }} </h1>
				</div>
			</div>
			<div id="banner-container" style="background:url('{{ referral.banner_image.url }}');background-size:100%;">
				<div class="body-content" id="banner-content">
					<div id="left-half">
						<h4 style="font-family:{{ referral.font_family }}"> {{ referral.banner_text }} </h4>
						<a href="{% url 'purchase_referral' referral.pk %}"><button class="btn btn-primary">Purchase</button></a>
					</div>
					<div id="right-half">
						<div id="banner-profile">
							<img id="banner-profile-img" src="{{ referral.owner.profile_image.url }}" width="120" height="120">
							<h3 style="font-family:{{ referral.font_family }}"> {{referral.owner.user.first_name }} {{referral.owner.user.last_name }} </h3>
							<div id="quote-block">
								<img id="quote-left" src="{% static 'img/quotation-marks-left.png' %}" width="20" height="20">
								<p id="quote" style="font-family:{{ referral.font_family }}"> {{ referral.owner.quote }} </p>
								<img id="quote-left" src="{% static 'img/quotation-marks-right.png' %}" width="20" height="20">
							</div>
							<div id="profile-text">
								<p id="bio" style="font-family:{{ referral.font_family }}"> {{ referral.owner.bio }} </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>

