<div id="nav-bar">
	<div id="nav-bar-inner">
		<div id="amb-logo-block">
			<a href="/home/">
				<strong class="preview-logo">
					
				</strong>
				<span id="logo-text">Ambassador engineering challenge</span>
			</a>
		</div>
		<div id="nav-bar-options">
			<a class="top-option" href="/home/?slide=true"> Home </a> |
			<a class="top-option" href="/edit/{{ referral.pk }}/?slide=true"> Edit </a> |
			<a class="top-option" href=""> Logout </a>
		</div>
		<div id="preview-warning-block">
			<p> You are viewing this referral page in <strong>Preview Mode</strong>.  When your leads see this page, this top bar will not be visible. </p>
		</div>
		<div id="nav-bar-profile">
			<a href="/profile/{{member.user.username}}/">
				{% if referral.owner.profile_image == "" %}
				<img id="nav-bar-img" src="http://livestockportal.co.ke/img/blank_profile.png" alt="profile-pic" width="50" height="50">
				{% else %}
				<img id="nav-bar-img" src="{{ referral.owner.profile_image.url }}" alt="profile-pic" width="50" height="50">
				{% endif %}
			</a>
			<div id="cred-block">
				<p> {{ member.user.first_name }} {{ member.user.last_name }} </p><br>
				<a href="/profile/{{member.user.username}}/" id="edit-profile"> edit profile </a>
			</div>
		</div>
	</div>
</div>