{% extends "product/product_base.html" %}

{% load staticfiles %}

{% load cloudinary %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div id="form-block">
		<h2> {% if object %}Edit{% else %}Create{% endif %} Referral </h2>
		
		{% if object %}
		<a href=""> Preview </a>
		<form method="post" action="{% url 'edit_referral' referral_id=object.pk %}" enctype="multipart/form-data">
		{% else %}
		<form method="post" action="{% url 'create_referral' %}" enctype="multipart/form-data">
		{% endif %}
			{% csrf_token %}

			{% if posted %}
		      	<div class="results">
		      		{% if posted.logo_image %}
		      			{% cloudinary posted.logo_image THUMBNAIL %}
		      		{% endif %}

		      		{% if posted.banner_image %}
						{% cloudinary posted.banner_image THUMBNAIL %}
					{% endif %}

		        {% if errors %}
		          	Errors: {{ errors }}
		        {% endif %}
		      	</div>
			{% endif %}

			<div class="form-group">
				<label for="id_link_title" class="col-lg-2 control-label">Link Title</label>
				<input id="id_link_title" maxlength="500" name="link_title" type="text" class="form-control" placeholder="Enter link title" style="width:700px;float:left" {% if object %}value="{{ object.link_title }}"{% endif %}><br><br>
			</div>
			<div class="form-group">
				<label for="id_logo_image" class="col-lg-2 control-label">Logo Image</label>
				{% if object.logo_image %}
					{% cloudinary object.logo_image THUMBNAIL %}
				{% endif %}
				<input class="referral-files" id="id_logo_image" name="logo_image" type="file">
			</div>
			<div class="form-group">
				<label for="id_banner_image" class="col-lg-2 control-label">Banner Image</label>
				{% if object.banner_image %}
					{% cloudinary object.banner_image THUMBNAIL %}
				{% endif %}
				<input class="referral-files" id="id_banner_image" name="banner_image" type="file">
			</div>
			<!--
			<div class="form-group">
				<label for="id_logo_url" class="col-lg-2 control-label">Logo URL</label>
				<input id="id_logo_url" maxlength="1000" name="logo_url" type="text" class="form-control" placeholder="Enter logo URL" style="width:700px;float:left" {% if object %}value="{{ object.logo_url }}"{% endif %}><br><br>
			</div>-->
			<!--
			<div class="form-group">
				<label for="id_banner_background_url" class="col-lg-2 control-label">Banner Background</label>
				<input id="id_banner_background_url" maxlength="1000" name="banner_background_url" type="text" class="form-control" placeholder="Enter banner image URL" style="width:700px;float:left" {% if object %}value="{{ object.banner_background_url }}"{% endif %}><br><br><br>
			</div>-->

			<div class="form-group">
				<label for="id_banner_text" class="col-lg-2 control-label">Banner Text</label>
				<textarea id="id_banner_text" maxlength="1000" name="banner_text" class="form-control" style="height:200px;float:left;margin-bottom:23px;width:700px">{% if object %}{{ object.banner_text }}{% endif %}</textarea><br><br><br>
			</div>

			<label for="id_font_family">Font Family</label><br>
			<select id="id_font_family" maxlength="500" name="font_family" type="select" class="form-control" placeholder="Enter link title" style="width:200px;float:left">
				<option value="Arial" {% if object %}{% if object.font_family == "Arial" %}selected{% endif %}{% endif %}> Arial </option>
				<option value="Helvetica" {% if object %}{% if object.font_family == "Helvetica" %}selected{% endif %}{% endif %}> Helvetica </option>
				<option value="Lucida" {% if object %}{% if object.font_family == "Lucida" %}selected{% endif %}{% endif %}> Lucida </option>
				<option value="Times" {% if object %}{% if object.font_family == "Times" %}selected{% endif %}{% endif %}> Times </option>
				<option value="Palatino" {% if object %}{% if object.font_family == "Palatino" %}selected{% endif %}{% endif %}> Palatino </option>
				<option value="Bookman" {% if object %}{% if object.font_family == "Bookman" %}selected{% endif %}{% endif %}> Bookman </option>
			</select>
			<br><br><br>

			<input type="submit" class="btn btn-primary" value="{% if object %}Update{% else %}Create{% endif %}" style="float:left;margin-right:6px"/>
			<input type="button" class="btn btn-danger" value="Cancel" onclick=location.href='/home/';>
			{% if form.link_title.errors %}
			    <ol style="display:inline-block;margin-top:8px">
				    {% for error in form.link_title.errors %}
				        <li style="color:red;font-weight:normal;line-height:12px;font-style:italic">{{ error|escape }}</li>
				    {% endfor %}
			    </ol>
			{% endif %}<br>
			<!--
			{% if form.logo_url.errors %}
			    <ol style="display:inline-block;margin-top:8px">
				    {% for error in form.logo_url.errors %}
				        <li style="color:red;font-weight:normal;line-height:12px;font-style:italic">{{ error|escape }}</li>
				    {% endfor %}
			    </ol>
			{% endif %}<br>-->
			<!--
			{% if form.banner_background_url.errors %}
			    <ol style="display:inline-block;margin-top:8px">
				    {% for error in form.banner_background_url.errors %}
				        <li style="color:red;font-weight:normal;line-height:12px;font-style:italic">{{ error|escape }}</li>
				    {% endfor %}
			    </ol>
			{% endif %}<br>-->
			{% if form.banner_text.errors %}
			    <ol style="display:inline-block;margin-top:8px">
				    {% for error in form.banner_text.errors %}
				        <li style="color:red;font-weight:normal;line-height:12px;font-style:italic">{{ error|escape }}</li>
				    {% endfor %}
			    </ol>
			{% endif %}<br>
			{% if form.font_family.errors %}
			    <ol style="display:inline-block;margin-top:8px">
				    {% for error in form.font_family.errors %}
				        <li style="color:red;font-weight:normal;line-height:12px;font-style:italic">{{ error|escape }}</li>
				    {% endfor %}
			    </ol>
			{% endif %}<br>
		</form>
	</div>
{% endblock %}