{% extends "product/product_base.html" %}

{% load staticfiles %}

{% load cloudinary %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div id="profile-block">
		<h2> Profile for user "{{ member.user.username }}" </h2>
		<div id="profile-left">
			<strong style="margin-bottom:130px"> Profile picture </strong>
			<strong> Display name </strong>
			<strong> Quote </strong>
			<strong> Bio </strong>
		</div>
		<div id="profile-right">
			<form method="post" action="{% url 'update_user' username=member.user.username %}" enctype="multipart/form-data">
				{% csrf_token %}

				
				<div id="cloudinary-input-block">
                    {% if posted %}
                         {% cloudinary posted.profile_image THUMBNAIL %}
                         <div id="profile-pic-info">
                            {% if errors %}
                                   Errors: {{ errors }}
                            {% endif %}
                            <p>Currently: <a href="{{ member.profile_image.url }}">{{ member.profile_image.public_id }}</a></p>
                            <input id="id_profile_image" name="profile_image" type="file">
                         </div>

                    {% else %}
					{% if member.profile_image %}
						{% cloudinary member.profile_image THUMBNAIL %}
						<div id="profile-pic-info">
							<p>Currently: <a href="{{ member.profile_image.url }}">{{ member.profile_image.public_id }}</a></p>
							<input id="id_profile_image" name="profile_image" type="file">
						</div>
					{% else %}
						<img src="http://livestockportal.co.ke/img/blank_profile.png" alt="profile-pic" width="120" height="120">
						<div id="profile-pic-info">
							<p>Currently: None</p>
							<input id="id_profile_image" name="profile_image" type="file">
						</div>
					{% endif %}
                    {% endif %}
				</div>

				<input id="id_display_name" class="form-control full" maxlength="60" name="display_name" type="text" value="{{ member.display_name }}"><br>

				<input id="id_quote" class="form-control full" maxlength="300" name="quote" type="text" value="{{ member.quote }}"><br>
				
				<textarea cols="40" class="form-control full" id="id_bio" name="bio" rows="10">{{ member.bio }}</textarea><br>
				
				<input type="submit" value="Save" class="btn btn-primary">

			</form>
		</div>
	</div>

	<div id="user-referrals">
		<table class="table datatable" id="all-links">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Clicks</th>
					<th>Purchases</th>
					<th>Submitted</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block modals %}
	{% include "product/chart_modal.html" %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript"?>
		$(document).ready(function() {
              // hicharts plotting function
			$(document).on("click", ".chart-link", function(){
				$('#chartModal').modal('show') // show the modal
                    var search_r = $(this).attr('res'); // grab the pk of the referral we want
                    var plotting = function plotData(clickData, purchaseData) {
                         $('#container').highcharts({
                              chart: {
                                   type: 'spline'
                              },
                              title: {
                                   text: 'Clicks/Purchases vs Time'
                              },
                              subtitle: {
                                   text: ''
                              },
                              xAxis: {
                                   type: 'datetime',
                                   dateTimeLabelFormats: { // don't display the dummy year
                                        month: '%e. %b',
                                        year: '%b'
                                   }
                              },
                              yAxis: {
                                   title: {
                                        text: 'Qty.'
                                   },
                                   min: 0
                              },
                              tooltip: {
                                   formatter: function() {
                                       return '<b>'+ this.series.name +'</b><br/>'+
                                       Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y;
                                   }
                              },
                           
                              series: [{
                                   name: 'Clicks',
                                   data: clickData
                              }, {
                                   name: 'Purchases',
                                   data: purchaseData
                              }]
                         });
                    };

                    $.ajax({  // Get highcharts data for the referral
                         type: 'GET',
                         url: '/hicharts/chart-data/'+search_r+'/',
                         data: null,
                         crossDomain: false,
                         success: function (data) {
                              clickData = data['clicks'];
                              purchaseData = data['purchases'];
                              for (x in clickData) {
                                   clickData[x][0] = Date.UTC(clickData[x][0][0], clickData[x][0][1], clickData[x][0][2], clickData[x][0][3], clickData[x][0][4], clickData[x][0][5], clickData[x][0][6]);
                              }
                              for (x in purchaseData) {
                                   purchaseData[x][0] = Date.UTC(purchaseData[x][0][0], purchaseData[x][0][1], purchaseData[x][0][2], purchaseData[x][0][3], purchaseData[x][0][4], purchaseData[x][0][5], purchaseData[x][0][6]);
                              }
                              clickData.sort();
                              purchaseData.sort();
                              plotting(clickData, purchaseData);
                              
                         },
                         error: function(data) {
                              console.log('Error, highcharts GET failed');
                         }
                    });
			});

			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { 
                    	"mRender": function ( data, type, row ) {
                    		return '<a data-toggle="modal" href="#chartLink" res="' + row[4] + '" class="col-1 chart-link">' + data +'</a>'
                    	},
                    	"sWidth": "160px",
                    	"aTargets": [0],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [1],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "40px",
                    	"aTargets": [2],
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<span class="col-2">' + data + '</span>'
                    	},
                    	"sWidth": "48px",
                    	"aTargets": [3],
                    	"iDataSort": 5
                    },
                    {
                    	"mRender": function ( data, type, row ) {
                    		return '<a class="col-5-a" href="/edit/' + data + '/">edit</a> <a class="col-5-a" href="/delete/' + data + '/">delete</a> <a class="col-5-b" href="/landing/?link=' + row[0] + '" class="col-1">view</a>'
                    	},
                    	"sWidth": "120px",
                    	"aTargets": [4],
                    	"bSortable": false,
                    },
                    { "bVisible": false, "aTargets": [5]}
                ],
                "sAjaxSource": "/datatables/all-refs/?username={{ user.username }}",

			});
		});
	</script>



{% endblock %}