{% extends "product/product_base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div id="profile-block">
		<h2> Profile for user "{{ member.user.username }}" </h2>
		<div id="profile-left">
			<strong style="margin-bottom:160px"> Profile picture </strong>
			<strong> Display name </strong>
			<strong> Quote </strong>
			<strong> Bio </strong>
		</div>
		<div id="profile-right">
			<form class="well" method="post" action="{% url 'update_user' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="profile-info-block">
					<div id="inner-one">
						<!--
						{% if member.image == "" %}
						<img src="http://www.anglo.ca/images/blank-user-medium.png" width="170" height="170" alt="profile-pic"><a href="#"></a>
						{% else %}
						<img src="{{ member.image }}" width="170" height="170" alt="profile-pic"><a href="#"></a>
						{% endif %}-->
						<p>
			                {{ form.image.errors }}
			                {{ form.image }}
			            </p>
					</div>
				</div>
				<div class="profile-info-block">
					<div id="inner-two">
						<input id="id_display_name" maxlength="500" name="display_name" type="text" class="form-control" placeholder="Enter display name" style="width:700px;float:left" value="{{ member.display_name }}"><br><br>
					</div>
				</div>
				<div class="profile-info-block">
					<div id="inner-three">
						<p> "{{ member.quote }}" </p><br>
					</div>
				</div>
				<div class="profile-info-block">
					<div id="inner-four">
						<p> {{ member.bio }} </p><br>
					</div>
				</div>
				<p><input type="submit" value="Save!" /></p>
			</form>
		</div>
		<div id="profile-edit-icons">
			<a href="#" id="one"></a>
			<a href="#" id="two"></a>
			<a href="#" id="three"></a>
			<a href="#" id="four"></a>
		</div>
		
	</div>

	<div id="user-referrals">
		<table class="table datatable" id="all-links" style="width:900px">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Total Clicks</th>
					<th>Date Submitted</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript"?>
		$(document).ready(function() {
			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { "sWidth": "200px", "aTargets": [0], },
                    { "sWidth": "40px", "aTargets": [1], },
                    { "sWidth": "48px", "aTargets": [2], },
                    { "sWidth": "60px", "aTargets": [3], "bSortable": false, },
                ],
                "sAjaxSource": "/datatables/all-refs/?username={{ user.username }}",

			});
		});
	</script>



{% endblock %}