<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>HTML5 boilerplate – all you really need…</title>
	    {% load staticfiles %}
	    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	    <!--[if IE]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<body id="home">
		<div id="wrapper-outer">
			<div id="header">
				<ul id="header-list">
					<li><a> Featured </a></li>
					<li><a> All Links </a></li>
					<li><a> My Links </a></li>
					<li><a> Brand Profile </a></li>
					<li><a> Search </a></li>
				</ul>
			</div>
			<div id="content-main">
				{% block content %} {% endblock %}
			</div>
		</div>
		{% block javascript %} {% endblock %}
	</body>
</html>