{% extends "base.html" %}

{% block content %}
<h1> Grow the web with referrals!</h1>
<form action="." method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" class="btn btn-primary" value="Add" />
	
</form>

<h2>Submitted Links</h2>
<div style="margin: 30px">
	<table class="table table-striped">
		<tr style="font-weight:bold;"><th>Link Title</th><th>date submitted</th><th>owner</th></tr>
		{% for ref in refs %}
			<tr>
				<td>{{ ref.link_title }}</td>
				<td>{{ ref.date_submitted }}</td>
				<td>{{ ref.owner.username }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<a href="/logout/">LOGOUT</a>
{% endblock %}