{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	<div id="form-block">
		<form action="." method="POST">
			{% csrf_token %}
			<label for="id_link_title">Link Title</label><br>
			<input id="id_link_title" maxlength="500" name="link_title" type="text" class="form-control" placeholder="Enter link title" style="width:200px;float:left">
			<input type="submit" class="btn btn-primary" value="Add" style="float:left"/>
		</form>
	</div>
	{% endif %}
	<div style="margin: 30px">
		<h2 id="home">Top Links</h2>

		<table class="table datatable" id="all-links" style="width:900px">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Total Clicks</th>
					<th>Date Submitted</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript"?>
		$(document).ready(function() {
			// datatables init
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { "sWidth": "200px", "aTargets": [0], },
                    { "sWidth": "40px", "aTargets": [1], },
                    { "sWidth": "48px", "aTargets": [2], },
                    { "sWidth": "60px", "aTargets": [3], "bSortable": false, },
                ],
                "sAjaxSource": "/datatables/all-refs/",

			});
			// nav slide in
			$("div#header-outer").animate({left:'0'}, 1600);
            
		});
	</script>
{% endblock %}
