{% extends "base.html" %}

{% block content %}

	{% if authenticated %}
	<form action="." method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" class="btn btn-primary" value="Add" />
	</form>
	{% endif %}
	<h2>Submitted Links</h2>
	<div style="margin: 30px">
		<table class="table datatable" id="all-links" style="width:900px">
			<thead>
				<tr>
					<th>Link Title</th>
					<th>Total Clicks</th>
					<th>Date Submitted</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	{% if authenticated %}
	<a href="/logout/">LOGOUT</a>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript"?>
		$(document).ready(function() {
			var oTable = $('.datatable').dataTable({
				// ...
                "iDisplayLength": 25,
                "aaSorting": [[ 0, "desc" ]],
	 			"bProcessing": false,
				"bServerSide": false,
				"bSortable": true,
				"bFilter": false,
				"bPaginate": true,
				"aoColumnDefs": [
                    { "sWidth": "200px", "aTargets": [0], },
                    { "sWidth": "40px", "aTargets": [1], },
                    { "sWidth": "48px", "aTargets": [2], },
                    { "sWidth": "60px", "aTargets": [3], "bSortable": false, },
                ],
                "sAjaxSource": "/datatables/all-refs/",

			});
			// ...
            
		});
	</script>
{% endblock %}
