div#wrapper-outer {
	width: 100%;
	background-color: #0d0d0d;
}

div#wrapper-outer div#content-main {
	max-width: 900px;
	min-width: 740px;
	width: 70%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #e8e8e8;
	padding: 50px 40px;
}

ul.errorlist {
	color: red;
}