@font-face
{
	font-family: AllerBold;
	src: url('/static/fonts/Aller/Aller_Bd.ttf')
}

@font-face
{
	font-family: AllerRegular;
	src: url('/static/fonts/Aller/Aller_Rg.ttf');
}

div.box-shadow {
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

div#main-wrapper {
	/*background: url('/static/img/banner1.jpg') #82d5db no-repeat;*/
	/*background: url('/static/img/background.png') #82d5db repeat;*/
	background: #E8EDE0;
	height: 1200px;
}

div.wrapper-outer {
	display: inline-block!important;
}

div.wrapper-inner {
	float: center!important;
	margin-left: auto!important;
	margin-right: auto!important;
	width: 96%;
}

div.header-slide-1 {
	position: relative;
	top: -200px;
}

div.content-slide-from-left {
	position: relative;
	left: -2000px;
}

div.content-slide-from-right {
	position: relative;
	left: 3000px;
}

div#header-splash-outer {
	width: 68%;
	height: 88px;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

div#header-splash {
	height: 87px;
	background: #2BBBD8;
	border-bottom: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	z-index: 3;
	float: left;
	width: 96%;
	position: relative;
	left: 2px;
}

div#header-splash-inner {
	margin: 0 auto;
	height: 87px;
	position: relative;
	z-index: 100;
}

div#header-splash-inner div#auth-block {
	width: 180px;
	float: right;
	position: relative;
	top: 24px;
}

div#header-splash-inner div#auth-block div.tools-box {
	float: left;
	margin: 0 0 0 18px;
}

div#header-splash-inner div#auth-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	height: 33px;
	font: 16px/30px 'proxima-nova', Arial, Helvetica, sans-serif;
	list-style: none;
}

div#header-splash-inner div#auth-block li {
	float: left;
 	padding: 0 0 0 2px;
	display: list-item;
	cursor: pointer;
}

div#header-splash-inner div#auth-block li:first-child {
	border-right: 1px solid #102E37;
}

div#header-splash-inner div#auth-block li a {
	padding: 0 11px 2px;
	float: left;
	color: #FFFFFF;
	font-size: 18px;
}

div#header-splash-inner div#auth-block li a:hover {
	text-decoration: none;
}

div#banner-splash-2 {
	position: relative;
	margin-bottom: 31px;
}

div#banner-splash {
	text-shadow: 0 1px 3px rgba(0,0,0, 0.4);
	z-index: 1;
	position: relative;
	background: #102E37;
	margin-top: 24px;
	padding-left: 280px;
	opacity: .9;
}

div#banner-splash div#banner-splash-inner-left {
	width: 600px;
	margin-top: 2px;
	margin-left: 14px;
	margin-bottom: 2px;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container {
	position: relative;
	z-index: 2;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	width: 100%;
	height: 530px;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-boxes {
	width: 100%;
	height: 100%;
	float:center;
	margin-left: auto;
	margin-right: auto;
}


div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-bottom {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	margin: 0 -3px 8px 0;
	position: relative;
	float: left;
	padding-bottom: 26px;
	padding-top: 5px;
	margin-left: 24px;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-bottom h1 {
	color: #E32636;
	margin: 0 0 2px;
	letter-spacing: -1px;
	font-family: AllerBold, sans-serif;
	font-size: 29px;
	line-height: 44px;
	text-shadow: 1px 1px 4px rgba(0,0,0, 0.8);
	float: left;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-bottom p {
	margin: 0;
	color: #19A3FF;
	font: 20px/24px 'proxima-nova', Arial, Helvetica, sans-serif;
	margin: 0;
	float: right;
	margin-right: 51px;
}


div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top dl {
	margin: 15px 0 15px 10px;
	overflow: hidden;
	font: 20.5px/29px 'proxima-nova', Arial, Helvetica, sans-serif;
	text-align: left;
	margin-bottom: 15px;
	height: 105px;
	color: #eeeeee;
	float: left;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top dl dt {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-top: 10px;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top dl img {
	margin-right:12px;
	vertical-align: baseline;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top dl span {
	line-height: 20px;
	width: auto;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top {
	float: left;
	vertical-align: middle;
	position: relative;
	top: 12px;
}

div#banner-splash div#banner-splash-inner-left div.info-box-container div.info-box div.text-box-top img#place-holder {
	position: relative;
	padding: 6px;
	border-right: 1px solid #eee;
	float: left;
}

div#banner-splash div#banner-splash-inner-right {
	background: red;
	width: 400px;
	margin-top: 2px;
	margin-left: 14px;
	margin-bottom: 2px;
	height: 100%;
}


div.image-ontop {
	position: relative;
  	top: 4.7em;
}

strong.logo {
	margin-top: 20px;
	width: 192px;
	height: 42px;
	background-image: url('https://s3.amazonaws.com/ambassador/static/images/v2/sprite_vertical.png');
	background-position: -10px -10px;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
}

strong.logo a {
	display: block;
	height: 100%;
	position: relative;
}



.logos-block .logos-list li {
	display: inline-block;
	padding: 0 31px 0 32px;
}

div#main-info {
	background: white;
	width: 1100px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 424px;
	position: relative;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

div#second-info {
	height: 602px;
	margin-top: 40px;
}

div#second-info div.panel {
	display: inline-block;
	width: 31%;
	height: 100%;
	margin: 0 8px 0 14px;
	float: left;
	display: inline-block;
}

div#second-info div#info-left {
	background: transparent!important;
}

div#second-info div#info-right {
	background: transparent!important;
}

div#second-info div#info-left div#info-left-top {
	display: inline-block;
	float: left;
	width: 100%;
	position: relative;
	right: 0px;
	top: 0px;
	background: #19A3FF;
	height: 33.3%;
	border-radius: 4px;
	margin-bottom: 8px;
}

div#second-info div#info-left div#info-left-top div#info-left-top-inner {
	height: 90%;
	width: 90%;
	float: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-left: 2px;
}

div#second-info div#info-left div#info-left-bottom {
	background: white!important;
	float: left;
	width: 100%;
	height: 65.3%;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

div#second-info div#info-right div#info-right-top {
	background: #E32636!important;
	float: left;
	width: 100%;
	height: 64%;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

div#second-info div#info-right div#info-right-top div#info-right-top-inner img {
	float: right;
	display: block;
	margin-right: 16px;
	padding:  8px;
	border-left: 1px solid black;
	margin-top: 16px;
	margin-left: 8px;
	margin-bottom: 8px;
}


div#second-info div#info-right div#info-right-bottom {
	display: inline-block;
	float: left;
	width: 100%;
	position: relative;
	right: 0px;
	top: 0px;
	background: white;
	height: 34.9%;
	border-radius: 4px;
	margin-top: 8px;
}

div#footer-splash-outer {
	width: 100%;
	background: #0d0d0d;
	opacity: .95;
	height: 73px;
	position: relative;
	border-top: 5px solid #E32636;
	display: inline-block;
}

div#footer-splash-inner {
	width: 1100px;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

.triangle-left-top {
	border-color: transparent #102E37 transparent transparent;
	border-style: solid;
	border-width: 18px;
	border-top: 0;
	z-index: 200;
	float: left;
	display: inline-block;
	height: 84px;
	position: relative;
}

.example-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 3em;
	background: #99ccff;
	text-align: center;
	font-family: "Helvetica neue",helvetica,tahoma,verdana,arial,sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	color: #fff;
	cursor: pointer;
}